You should provide a updated version of the internal context of the project based on the new information gained with a research.
If there is incoming information that changes your understanding of the project, you should update the internal context of the project to reflect this new information. This will help you to have a more accurate understanding of the project and to make better decisions in the future.
Avoid excluding relevant information from the context, even if it seems unimportant, since it will guide the decision-making process in the future.
Its also important to keep a list of files that were explored already, so you dont waste time analyzing the same file multiple times.
Its also important to keep track of problems in the information retrieval, and storing feedbacks and guidance for a better exploration in the project.


This is the prompt that the context should be helpful to answer:
'{{main_prompt}}'

This is the project structure:
'{{project_structure}}''

This is the current context:
[[Start of the current context]]
{{current_context}}
[[End of the current context]]

This is the new information that you should incorporate to the context:
[[Start of the new information]]
{{incoming_context}}
[[End of the new information]]

Now, answer just with the updated version of the internal context of the project, without introductions or conclusions.